{% extends 'base.html' %}

{% block content-right %}
<div class="row content">
    <div class="col-lg-9 content-right">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            {% for obj in path %}
                <li><a href="{% url 'single_category' obj.slug %}">{{ obj }}</a></li>
            {% endfor %}
        </ol>
        <h2> {{ path | last }}</h2>

        {% include 'browse.html' %}

        {% block product-list %}
            Product list goes here...
        {% endblock %}

    </div>

    </div>
{% endblock %}