{% load crispy_forms_tags %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#czsale-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="czsale-navbar">
            <a href="{% url 'add_product' %}" class="btn btn-success navbar-btn add-classified-btn navbar-left"
               role="button">Post Free Add</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home page</a></li>
                        <li><a href="addClassified.html">Add classified</a></li>
                        <li><a href="category.html">Category page</a></li>
                        <li><a href="detail.html">Classified detail</a></li>
                        <li><a href="conditions.html">Rules & Conditions</a></li>
                        <li><a href="help.html">Help (FAQ)</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="{% url 'create' %}">Sign Up</a></li>
                    </ul>
                </li>
                <li><a href="help.html">Help</a></li>
                <li><a href="{% url 'create' %}">Sign Up</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    {% crispy signinform %}

                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <input class="btn btn-primary btn-block" type="button" id="sign-in-google"
                                   value="Sign In with Google">
                            <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter"
                                   value="Sign In with Twitter">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>