  <table class="table table-condensed table-hover">
                <thead>
                <th colspan="2">Details:</th>
                </thead>
                <tbody style="font-size: 12px;">
                <tr>
                    <td>Classified ID</td>
                    <td>012345</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>550 EUR</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>New</td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>Samsung</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Cell Phone</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>US, UK, CZ</td>
                </tr>
                <tr>
                    <td>Returns</td>
                    <td>14 days money back</td>
                </tr>
                <tr>
                    <td>Payments</td>
                    <td>PayPal, Credit Card</td>
                </tr>
                </tbody>
            </table>